<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../public/css/style.css" />
    <title>Shop</title>
  </head>
  <body>
    <%- include('includes/navigation.ejs') %>
    <h1 style="display: flex; justify-content: center; font-weight: bold">Shop</h1>
    <div class="row">
      <% products.forEach(function(products) {%>
      <div class="card" style="width: 18rem; margin: 20px">
        <img src="/images/setup.jpeg" class="card-img-top" alt="image" />
        <div class="card-body">
          <h5 class="card-title"><%= products.name %></h5>
          <p class="card-text"><%= products.price %> €</p>
          <a href="/shop/<%= products.id %> " class="btn btn-primary">Détails</a>
          <form action="/shop" method="POST">
            <input type="hidden" name="name" value="<%= products.name %>" />
            <input type="hidden" name="price" value="<%= products.price %>" />
            <input type="hidden" name="description" value="<%= products.description %>" />
            <input type="hidden" name="imageUrl" value="/images/setup.jpeg" />
            <button type="submit" class="btn btn-primary" style="margin-top: 10px">Ajouter au panier</button>
          </form>
        </div>
      </div>
      <%},);%>
    </div>
    <%- include('includes/footer.ejs') %>
  </body>
</html>
